*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
body{
    background-color:rgb(146, 87, 160)
}
.section-style{
    background-color: white;
    width: 70%;
    margin:5% auto;
}

.text-style{
    width: 50%;
    padding: 16% 4%;
    margin:0%;
    display: inline-block;
    background-color: aqua;
    color: white;
    font-size: 18px;
    vertical-align: top;
    text-align: center;
}
.text-style h1{
    font-size: 30px;
    margin-bottom: 15%;
    margin-top: 10%;
}
.text-style p{
    margin-bottom: 6%;
}
.form-style{
    width: 50%;
    padding: 4% 5%;
    margin:0%;
    display: inline-block;
    background-color:white;
    color: black;
    vertical-align: top; 
}
.form-style h2 {
    margin: 2%;
    padding: 2%;
    font-size:30px;
}
input, textarea{
    color: gray;
    background-color: lightgray;
    margin: 2%;
    padding: 2%;
    border: none;
}
.form-style button{
    background-color:aqua;
    color:(srgb red green blue);
    border: none;
    margin-bottom: 6%;
    margin-top: 5%;
    padding: 5% 10%;
    border-radius: 25px;
}